{% extends "base.html" %}

{% block title %} Add Pet {% endblock %}

{% block content %} 
    <h1 class="text-center">Add Pet</h1>
    <main class="container">
        <form action="" class="row" method="POST">
            
            {% include "form-pet.html" %}

            <div class="btn-group d-block my-auto">
                <button class="btn btn-success rounded" type="submit">Submit</button>
                <a class="btn btn-outline-secondary rounded" href="/">Go Back</a>
            </div>
        </form>
    </main>
{% endblock %}