{{ form.hidden_tag() }}

{% for field in form 
    if field.widget.input_type != 'hidden' %}
    <div class="form-group mb-3 col-sm-6">

        {{ field.label(class_="form-label ") }}
        {% if field.name == 'species' %} 
            {{ field(class_="form-select")}}
        {% elif field.name == 'available' %}
            {{ field(class_="form-check-input mt-0")}}
        {% else %}
            {{ field(class_="form-control") }}
        {% endif %}

        {% for err in field.errors %}
            <small class="form-text text-danger">
                {{ err }}
            </small>    
        {% endfor %}
    </div>
{% endfor %}