{% extends "base.html" %}

{% block title %} Pets {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, msg in messages %}
                <div class="flash-msg text-white p-3 mb-2 {% if category == 'success' %} bg-success {% else %} bg-danger {% endif %}">{{ msg }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1 class="text-center">Adopt a Pet</h1>
    <main class="container-fluid">
        <div class="row my-auto">
            {% for pet in pets %}
            <div class="col-md-4 col-sm-6 card my-3">
                <p class="card-header"><a class="link-info text-capitalize fs-5" href="/{{pet.id}}">{{ pet.name }}</a><strong>{% if pet.available %} is available {% endif %}</strong></p>
                <a href="/{{pet.id}}">
                    <img class="img-fluid pb-3" src="{{ pet.photo_url }}" alt="Image of {{ pet.species }}">
                </a>
            </div>
            {% endfor %}
            <a class="btn btn-info text-white" href="/add">Add a Pet</a>
        </div>
    </main>
{% endblock %}