{% extends "base.html" %}

{% block title %} {{ pet.name }} details{% endblock %}

{% block content %}
    <h1 class="text-center text-capitalize">Pet Details</h1>
    <main class="d-flex justify-content-center flex-column align-items-center">
        <div class="card w-50 text-center">
            <div class="card-body row">
                <div class="">
                    <h5 class="card-title fs-3">{{ pet.name }}</h5>
                    <span class="d-block">Species: {{ pet.species }}</span>
                    <span class="d-block">Age: {% if pet.age %} {{ pet.age }} {% else %} NA {% endif %}</span>
                    <p> Notes:{% if pet.notes %} {{ pet.notes }} {% else %} NA {% endif %}</p>
                    <span class="d-block">Available: {% if pet.available %} Yes {% else %} No {% endif %}</span>
                </div>
                <div class="">
                    {% if pet.photo_url %}<img class="img-thumbnail" src="{{ pet.photo_url }}" alt="Image of a {{ pet.species }}">{% endif %}
                </div>
            </div>
        </div>
        <br>
        <h3>Update Pet</h3>
        <form class="row" method="POST">
            {% include "form-pet.html" %}
            <div class="btn-group">
                <button class="btn btn-primary">Save</button>
            </div>
        </form>
    </main>
{% endblock %}